$white: #ffffff;
$black: #0a0a0a;
$purple: #5700ff;
$yellow: #dbfc54;

.black {
  color: $black;
}
.white {
  color: $white;
}

.bg-black {
  background-color: $black;
}
.bg-white {
  background-color: $white;
}
